*{
    box-sizing: border-box;
    margin: 0;
    font-family: "Roboto", sans-serif;
}

@font-face {
    font-family: "Rylan";
    src: url("../fonts/Rylan-Regular.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}


/*------------------------------ HEADER ------------------------------*/

.h1, h2, h3, h4, h5, h6{
    font-family: "rylan", sans-serif;
    font-size: 18px;
}

header{
    background-color: #F5F2EB;
}

nav{
    padding: 0em 2em;
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
}

nav ul {
    display: flex;
    justify-content: center;
    gap: 3em;
    list-style: none;
    margin: 0;
    padding: 0;
    font-weight: 600;
}

nav li{
    height: 10px;
    display: flex;
    align-items: center;
}

nav li a:hover{
    color: #A51E23;
    transition: 0.2s ease;
}

nav a {
    text-decoration: none;
    color: black;
    font-size: 18px;
    border-bottom: 2px solid transparent;
    transition: color 0.2s ease;
}

nav img{
    width: auto;
    height: 60px;
    margin: 1em;
}

.headerkurv{
    font-size: 30px;
    color: #000000;
    padding: 1em;
}

.headerkurv:hover{
    color: #A51E23;
    font-size: 31px;
    transition: 0.3s;
}

.denneside{ /* Når vi er på den specifikke HTML side, ser menupunktet sådan ud (brødkrummer) */
    text-decoration: underline;
}

/*------------------------------SLUT HEADER SLUT------------------------------*/


/* HERO billede */
.f-hero{
    width: 100%;
    height: auto;
}

/* -------------- Menu sektion m. slider -------------- */

.menusektion{
    
    margin: 0 auto;
    padding: 2rem 1rem;
    background-color: #F5F2EB;
}

input[type="radio"] {
    display: none;
}

.menutabs{
    display: flex;
    justify-content: center;
    gap: 3rem;
    margin-bottom: 2rem;
    font-size: 18px;
}

.menutabs label{
    padding: 0.7rem 1.4rem;
    background-color: #D9D9D9;
    border-radius: 30px;
    cursor: pointer;
}

.menutabs label:hover{
    background-color: #949494;
    transition: 0.2s ease;
}

#polse:checked ~ .menutabs label[for="polse"], #suppe:checked ~ .menutabs label[for="suppe"], #tilbehor:checked ~ .menutabs label[for="tilbehor"]{
    background-color: #A51E23;
    color: #F5F2EB;
}

.menuslider{
    display: none;
    gap: 1rem;
    overflow-x: auto;
    justify-content: center;
    font-size: 16px;
}

.menucontent {
    display: flex;
    justify-content: center;
    
}

.menuss{
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

#polse:checked ~ .menucontent .polse{
    display: flex;
}

#suppe:checked ~ .menucontent .suppe{
    display: flex;
}

#tilbehor:checked ~ .menucontent .tilbehor{
    display: flex;
}

.box{
    display: grid;
    grid-template-rows: auto auto;
    text-align: center;
    margin: 1em 0em;
}

.box img{
    width: auto;
    height: 150px;
    border-radius: 15px;
}

.box a{
    text-decoration: none;
    font-weight: 500;
    color: black;
    cursor: pointer;
    
}

.box a:hover{
    color: #A51E23;
    font-size: 16px;
    transition: 0.2s ease;
}

.seflereknap{
    display: block;
    flex-wrap: wrap;
    margin-top: 10px;
    text-align: center;
    text-decoration: none;
    color: black;
    padding: 0.3rem 1rem;
    background-color: #d9d9d9;
    border-radius: 30px;
    font-size: 18px;
}

.seflereknap:hover{
    background-color: #949494;
    transition: 0.2s ease;
}

/*--------------------------------------------------------------------*/

/* OM OS SEKTIONEN */
.f-omossektion{
    background-color: #F5F2EB;
    display: flex;
    justify-content: center;
    position: relative;
    padding: 3em 0;
}

.h5p{
    padding-top: 10em;
    max-width: 70%;
    text-align: left;
}

.h5p p{
    line-height: 1.5em;
}

.h5ptext{
    margin-bottom: 2em;
}

.f-omossektion a{
    text-decoration: none;
    color: #000000;
    background-color: #d9d9d9;
    font-size: 15px;
    border-radius: 40px;
    padding: 0.5em 1em;
}

.f-omossektion a:hover{
    background-color: #949494;
    transition: 0.3s;
}

.f-omossektion p{
    font-size: 18px;
}

.f-omossektion img{
   position: absolute;
   right: 0;
   bottom: 0;
   height: 350px;
}

/* ----------------------------- FOOTER ----------------------------- */

footer{
    background-color: #F5F2EB;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto auto auto;
    font-size: 18px;
    padding-top: 5em;
}

footer h6{
    padding-bottom: 10px;
}

footer img {
    max-width:2500px;
    width: 100%;
    max-height: 100%;
    grid-column: 1 / span4;
    grid-row: 1;
    padding: 2em;
    place-self: center;
}

footer a{
    color: black;
    text-decoration: none;
}

.f1{
    grid-column: 1;
}

.f1 li {
    list-style-type: none;
}

.f1 i{
    padding-right: 30px;
}
.f2{
    grid-column: 2;
    padding-left: 2em;
}

.f3{
    grid-column: 3;
}

.f1, .f2, .f3{
    grid-row: 2;
    place-self: center;
    line-height: 1.5em;
}

/* Styling af nyhedsbrevs opskrivning */

.newsletter {
    border-radius: 15px;
    font-size: 18px;
}
.newsletter input {
    padding: 10px;
    font-size: 15px;
    border: none;
    border-radius: 15px;
}

.newsletter button {
    padding: 10px;
    background: #A51E23;
    border-radius: 25px;
    color: #F5F2EB;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;

}

/* Newsletter slut */

.some{
    grid-column: 1 / -1;
    grid-row: 3;
    justify-self: center;
    font-size: 30px;
    padding: 1.7em;
}

.some a{
    padding: 1.5em;
    color: #A51E23;
    text-decoration: none;
}

.footerbottom{
    background-color: #A51E23;
    color: #F5F2EB;
    display: flex;
    justify-content: center;
    gap: 2em;
    font-size: 20px;
    padding: 0.7em;
    grid-column: 1 / span4;
}