*{
    box-sizing: border-box;
    margin: 0;
    font-family: "Roboto", sans-serif;
}

@font-face {
    font-family: "Rylan";
    src: url("../fonts/Rylan-Regular.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}


/*------------------------------ HEADER ------------------------------*/

/* ---------------- BURGER ---------------- */
.burger {
  display: none;
  background: none;
  border: none;
  font-size: 26px;
  cursor: pointer;
}

.h1, h2, h3, h4, h5, h6{
    font-family: "rylan", sans-serif;
    font-size: 18px;
}

header{
    background-color: #F5F2EB;
}

nav{
    padding: 0em 2em;
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
}

nav ul {
    display: flex;
    justify-content: center;
    gap: 3em;
    list-style: none;
    margin: 0;
    padding: 0;
    font-weight: 600;
}

nav li{
    height: 10px;
    display: flex;
    align-items: center;
}

nav li a:hover{
    color: #A51E23;
    transition: 0.2s ease;
}

nav a {
    text-decoration: none;
    color: black;
    font-size: 18px;
    border-bottom: 2px solid transparent;
    transition: color 0.2s ease;
}

nav img{
    width: 15em;
    height: auto;
    object-fit: cover;
}

.headerkurv{
    font-size: 30px;
    color: #000000;
    padding: 1em;
}

.headerkurv:hover{
    color: #A51E23;
    font-size: 31px;
    transition: 0.3s;
}

.denneside{ /* Når vi er på den specifikke HTML side, ser menupunktet sådan ud (brødkrummer) */
    text-decoration: underline;
}

/*------------------------------SLUT HEADER SLUT------------------------------*/


/* HERO billede */
.f-hero{
    width: 100%;
    height: auto;
}

/* -------------- Menu sektion m. slider -------------- */

.menusektion{
    margin: 0 auto;
    padding-top: 3rem;
    padding-bottom: 4rem;
    padding-right: 3rem;
    padding-left: 3rem;
    background-color: #F5F2EB;
}

input[type="radio"] {
    display: none;
}

.menutabs{
    display: flex;
    justify-content: center;
    gap: 3rem;
    margin-bottom: 2rem;
    font-size: 22px;
}

.menutabs label{
    padding: 0.7rem 1.4rem;
    background-color: #D9D9D9;
    border-radius: 30px;
    cursor: pointer;
    font-family: "rylan", sans-serif;
}

.menutabs label:hover{
    background-color: #949494;
    transition: 0.2s ease;
}

#polse:checked ~ .menutabs label[for="polse"], #suppe:checked ~ .menutabs label[for="suppe"], #tilbehor:checked ~ .menutabs label[for="tilbehor"]{
    background-color: #A51E23;
    color: #F5F2EB;
}

.menuslider{
    display: none;
    gap: 1rem;
    overflow-x: auto;
    justify-content: center;
    font-size: 20px;
}

.menucontent {
    display: flex;
    justify-content: center;
    
}

.menuss{
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

#polse:checked ~ .menucontent .polse{
    display: flex;
}

#suppe:checked ~ .menucontent .suppe{
    display: flex;
}

#tilbehor:checked ~ .menucontent .tilbehor{
    display: flex;
}

.box{
    display: grid;
    grid-template-rows: auto auto;
    text-align: center;
    margin: 1em 0em;
}

.box img{
    width: auto;
    height: 150px;
    border-radius: 15px;
}

.box a{
    text-decoration: none;
    font-weight: 500;
    color: black;
    cursor: pointer;
}

.box a:hover{
    color: #A51E23;
    font-size: 20px;
    transition: 0.2s ease;
}

.seflereknap{
    display: block;
    flex-wrap: wrap;
    margin-top: 10px;
    text-align: center;
    text-decoration: none;
    color: black;
    padding: 0.7rem 1rem;
    background-color: #d9d9d9;
    border-radius: 30px;
    font-size: 22px;
}

.seflereknap:hover{
    background-color: #949494;
    transition: 0.2s ease;
}

/*--------------------------------------------------------------------*/

/* VÆRDIER SEKTIONEN */
.f-vaerdiersektion{
    background-color: #F3E2DE;
    display: flex;
    justify-content: center;
    position: relative;
    padding: 1em 0;
}

.f-streg{ /* Streg tegnede billeder */
    height: 8em;
    width: auto;
}

.fvaerdi{
    text-align: center;
    padding: 0 2em;
    max-width: 30%;
    margin: 1em 2em;
}

.f-vaerdiersektion p{
    font-size: 18px;
    line-height: 1.6;}

.f-omossektion img{
    width: auto;
    height: auto;
    max-width: 400px;
}





/* Juletilbud & events */

.standout {
  background-color: #A51E23;
  padding: 4rem 0;
  color: #ffffff;
}

.standout-container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 2rem;

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  gap: 3rem;
  align-items: center;
}

.juletilbud h1,
.events-tekst h2 {
  font-family: "rylan", sans-serif;
  margin-bottom: 1rem;
  font-size: 30px;
}

.juletilbud p,
.events-tekst p,
.events-tekst li {
  font-size: 18px;
  line-height: 1.5;
}

.juletilbudbillede,
.eventbillede {
  width: 100%;
  max-width: 420px;
  border-radius: 20px;
  justify-self: center;
}

.juletilbud {
  grid-column: 1;
  grid-row: 1;
}

.juletilbudbillede {
  grid-column: 2;
  grid-row: 1;
}

.eventbillede {
  grid-column: 1;
  grid-row: 2;
}

.events-tekst {
  grid-column: 2;
  grid-row: 2;
}

.btn {
  display: inline-block;
  margin-top: 1.5rem;
  padding: 0.7rem 1.5rem;
  background-color: #F5F2EB;
  color: #A51E23;
  text-decoration: none;
  font-size: 18px;
  font-weight: 600;
  border-radius: 40px;
  transition: 0.3s;
}

.btn:hover {
  background-color: #949494;
  color: #000;
}

/* Mobil version */

@media (max-width: 900px) {
  .standout-container {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .juletilbudbillede,
  .eventbillede {
    grid-column: auto;
    grid-row: auto;
  }

  .events-tekst ul {
    list-style-position: inside;
    padding: 0;
  }
}


/** Psst... */

.pst-header{
    display: flex;
    align-items: baseline;
    gap: 1em;
}

.pst{
    background-color: #F3E2DE;
    padding: 3em;
    padding-bottom: 4em;
    text-align: left;
}
.pst h3{
    font-family: "rylan", sans-serif;
    font-size: 40px;
    color: #A51E23;
    margin: 0;
}

.h3tekst{
    font-family: "rylan", sans-serif;
    font-size: 22px;
    font-weight: normal;
    color: black;
}

.pst p{
    font-size: 18px;
    line-height: 0.6;
    margin-top: 1em;
}


/* Kunderne siger sektionen */

.f-kundernesiger {
  background-color: #F5F2EB;
  padding: 4rem 2rem;
  text-align: center;
}

.f-kundernesiger h4 {
  font-family: "rylan", sans-serif;
  font-size: 32px;
  margin-bottom: 3rem;
}

.kundekort-wrapper {
  display: flex;
  justify-content: center;
  gap: 2rem;
  flex-wrap: nowrap;
}

.kundekort {
  background-color: #F0CACA;
  width: 300px;
  padding: 2.5rem 2rem 3rem;
  border-radius: 2rem;
  text-align: left;

}

.kundekort-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 1.5rem;
}

.kundetekst h5 {
  margin: 0;
  font-size: 18px;
}

.kundetekst span {
  display: block;
  font-size: 14px;
  color: #555;
}

.kundekort img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  object-fit: cover;
  flex-shrink: 0;
}

.kundekort p {
  margin: 0;
  font-size: 16px;
  line-height: 1.5;
}

/* RESPONSIVT! */

@media (max-width: 1000px) {
  .kundekort-wrapper {
    flex-direction: column;
    align-items: center;
  }
}



/* OM OS SEKTIONEN */
.f-omossektion{
    background-color: #F5F2EB;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
    padding: 4rem;
}

.f-omossektion-inner{
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    gap: 2rem;
}

.h5p{
    width: 50%;
    text-align: left;
}

.h5p p{
    line-height: 1.6;
    font-size: 18px;
}

.h5ptext{
    margin-bottom: 2rem;
}

.f-omossektion a{
    text-decoration: none;
    color: #000000;
    background-color: #d9d9d9;
    font-size: 20px;
    border-radius: 40px;
    padding: 0.5em 1em;
}

.f-omossektion a:hover{
    background-color: #949494;
    transition: 0.3s;
}

.f-omossektion p{
    font-size: 18px;
}

.f-omossektion-inner img{
    width: auto;
    height: 2rem;
}

/* ----------------------------- FOOTER ----------------------------- */

footer{
    background-color: #F5F2EB;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto auto auto;
    font-size: 18px;
}

footer h6{
    padding-bottom: 10px;
}

footer img {
    max-width:2500px;
    width: 100%;
    max-height: 100%;
    grid-column: 1 / span4;
    grid-row: 1;
    padding: 2em;
    place-self: center;
}

footer a{
    color: black;
    text-decoration: none;
}

.f1{
    grid-column: 1;
}

.f1 li {
    list-style-type: none;
}

.f1 i{
    padding-right: 30px;
}
.f2{
    grid-column: 2;
    padding-left: 2em;
}

.f3{
    grid-column: 3;
}

.f1, .f2, .f3{
    grid-row: 2;
    place-self: center;
    line-height: 1.5em;
}

/* Styling af nyhedsbrevs opskrivning */

.newsletter {
    border-radius: 15px;
    font-size: 18px;
}
.newsletter input {
    padding: 10px;
    font-size: 15px;
    border: none;
    border-radius: 15px;
}

.newsletter button {
    padding: 10px;
    background: #A51E23;
    border-radius: 25px;
    color: #F5F2EB;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;

}

/* Newsletter slut */

.some{
    grid-column: 1 / -1;
    grid-row: 3;
    justify-self: center;
    font-size: 30px;
    padding: 1.7em;
}

.some a{
    padding: 1.5em;
    color: #A51E23;
    text-decoration: none;
}

.footerbottom{
    background-color: #A51E23;
    color: #F5F2EB;
    display: flex;
    justify-content: center;
    gap: 2em;
    font-size: 20px;
    padding: 0.7em;
    grid-column: 1 / span4;
}




/* ---------------- MOBIL MENU ---------------- */
@media (max-width: 940px) {

  /* Vis burger */
  .burger {
    display: block;
  }

  /* Skjul menu som udgangspunkt */
  nav ul {
    display: none;
    flex-direction: column;
    gap: 1.5rem;
    background-color: #F5F2EB;

    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    padding: 2rem 0;
    text-align: center;
    z-index: 100;
  }

  /* Når burger er aktiv */
  nav ul.nav-open {
    display: flex;
  }

  /* Sørg for at nav er reference */
  nav {
    position: relative;
  }
}
